#suggestedItem, #suggestedItem2{
    background-color: white;
    width: 72.5%;
    position: absolute;
    z-index: 10;
    margin-top: 56px;
    margin-left: 10px;
    border: 1px solid #a5a5a5;
    display: table;
    box-shadow: 2px 3px 14px grey;

}
.table-item{
    margin-left: 15px;
    width: 100%;
}
.item-name{
padding-left: 15px;
}
.item-name:hover{
cursor:default;
}

.selected{
background-color: #66FFFF;
}